[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==3.1.9"
django-bootstrap4 = "*"
pillow = "*"
django-cors-headers = "*"
django-admin-list-filter-dropdown = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-webpack-loader = "*"
django-imagekit = "*"
django-environ = "*"
django-rest-elasticsearch = "*"
elasticsearch-dsl = "*"

[requires]
python_version = "3.6"
