<!doctype html>
<html lang="en">

    {% load i18n static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />#}
      <link rel="stylesheet" type="text/css" href="{% static 'fancybox-master/dist/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
            <div class="container">
                <a class="navbar-brand" href="/">GeoPhoto</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% include 'chunks/header_nav.html' %}

            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        {% include 'chunks/scripts_body.html' %}

    </body>

</html>
